.conf-container {
    min-height: 100vh;
}

.btn-custom {
    background-color: #024CAA;
    color: #FFF;
}

.modal-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
}
.show-modal {
    opacity: 1;
    z-index: 10;
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.modal-bg {
    position: absolute;
    opacity: 0.7;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}
.card-modal {
    width: 60%;
    border-radius: 30px;
    background-color: #FFF;
    z-index: 110;

    padding: 2rem;
}
