
<div class="row conf-container">
    <div class="col px-5 pt-5">
        <div class="d-flex justify-content-between">
            <h4>Listado de elementos: </h4>

            <button class="btn btn-success">
                Agregar
            </button>
        </div>

        <div class="d-flex flex-column gap-2">
            @for (item of dataInyeccion; track $index) {
                <div class="d-flex justify-content-between border-1 border-black border rounded-1 p-2">
                    <h5>{{ $index + 1}}. {{ item.name }}</h5>
                    <div class="d-flex gap-1">
                        <button
                            (click)="editar()"
                            class="button btn btn-warning">
                            Editar
                        </button>
                        <button 
                            (click)="eliminar($index)"
                            class="btn btn-danger">
                            Eliminar
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
