
<div class="sidenav">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="side">
      <p class="fw-bolder fs-4">Taurus Tlaxcala</p>
      <div class="d-flex flex-column gap-2 p-1">
        <button 
            routerLink="/"
            mat-fab
            extended
            color="primary">
            Inicio
        </button>

        <hr>

        <button 
            (click)="showCarruseles = !showCarruseles"
            mat-fab
            color="primary"
            extended>
            Carruseles
        </button>

        @if (showCarruseles) {
            <div class="d-flex pt-1 justify-content-center flex-column gap-2">
                <button 
                    routerLink="carrusel/comunicados"
                    mat-raised-button>
                    Comunicados
                </button>
                <button 
                    routerLink="carrusel/inyeccion"
                    mat-raised-button>
                    Inyección
                </button>
                <button 
                    routerLink="carrusel/ensamble"
                    mat-raised-button>
                    Ensamble
                </button>
            </div>
        }

        <hr>
        <button 
            (click)="showSheets = !showSheets"
            mat-fab
            extended
            color="primary">
            Sheets
        </button>

        @if (showSheets) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }

        <hr>
        <button 
            (click)="showConfiguraciones = !showConfiguraciones"
            mat-fab
            extended
            color="primary">
            Configuraciones
        </button>

        @if (showConfiguraciones) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }

      </div>
    </mat-drawer>
  
    <div class="home-sidenav-content bg-taurus">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>

  