
<div class="sidenav">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="side">
      <p class="fw-bolder fs-4">Taurus Tlaxcala</p>
      <div class="d-flex flex-column gap-1">
        <button 
            routerLink="/"
            mat-raised-button>
            Inicio
        </button>

        <button 
            (click)="showCarruseles = !showCarruseles"
            mat-raised-button>
            Carruseles
        </button>

        @if (showCarruseles) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }


        <button 
            (click)="showSheets = !showSheets"
            mat-raised-button>
            Sheets
        </button>

        @if (showSheets) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }

        <button 
            (click)="showConfiguraciones = !showConfiguraciones"
            mat-raised-button>
            Configuraciones
        </button>

        @if (showConfiguraciones) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }

      </div>
    </mat-drawer>
  
    <div class="home-sidenav-content bg-taurus">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>

  