.bg-taurus {
    background-image: url("../assets/img/bgTaurus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sidenav {
    width: 100%;
    height: 35px;
    background-color: #FFF;
  }

  .home-container {
    width: 100%;
    min-height: 100vh;
  }
  
  .home-sidenav-content {
    width: 100%;
    min-height: 100vh;
  }
  
  .home-sidenav {
    padding: 20px;
  }

  .btn-menu {
    background-color: darkslategray;
    color: #FFF;
  }